.iframe-cover{
    /*opacity: 0.6;*/
    border:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

#frame-button-container{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
}

.one-tab-page-switch-button{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.active-frame-button{
    background: red;
    color: #fff;
}
